#catering-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 8px;
    margin-bottom: 230px;
    color: #E9DCCC;
}
.catering-header{
    font-size: 72px;
    font-family: 'Bulijrya';
    letter-spacing: -4px;
    text-align: center;
    padding-bottom: 48px;
    border-bottom: #E9DCCC solid 2px;
}
.text{
    align-self: baseline;
    font-family: 'Vogue';
    font-size: 24px;
    text-align: center;
}
.looping-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 600px;
    font-size: 36px;
    transition: opacity 800ms;

}
.lower-text{
    margin-bottom: 36px;
}
.loop-group{
    display: flex;
    flex-direction: column;
}
.full-menu{
    padding-top: 32px;
    width: 100%;
    border-top: #E9DCCC solid 2px;
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.catering-description{
    font-size: 24px;
    text-align: center;
}
.menu-button{
    color: #E9DCCC;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;;
    font-size: 36px;
    background-color: #0D6465;
    border: 1px solid #ece2d6;
    padding: 16px;
    position: relative;
    z-index: 0;
    transition: 1s;
}
.menu-button::before, .menu-button::after{
    position: absolute;
    background: #0D6465;
    z-index: -1;
    transition: 1s;
    content: '';
}
.menu-button::before {
    height: 110%;
    width: 70%;
}
.menu-button::after {
    width: 110%;
    height: 70%;
}
.menu-button:hover::before {
    width: 0px;
}
.menu-button:hover::after {
    height: 0px;
}
