.header{
    font-size: 128px;
    font-family: 'Bughia';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #f4f4ef;
    color: #051633;
    background: linear-gradient(to top, #0D6465, #CCB382, #CCB382, #CCB382, #CCB382,  #a09072);
    padding-bottom: 48px;
    transition: height 1s ease-out;
    height: max-content;
    z-index: 1;
}
#nav-bar{
    margin-top: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-button{
  box-sizing: border-box;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #051633;
    border: 1px dashed #063749;
    font-family: 'Weezer';
    position: relative;
    z-index: 1;
    transition: 1s;
}
.nav-button::before, .nav-button::after{
  position: absolute;
  background: #CCB382;
  z-index: -1;
  transition: 1s;
  content: '';
}
.nav-button::before {
    height: 110%;
    width: 80%;
  }
  .nav-button::after {
    width: 110%;
    height: 70%;
  }
  .nav-button:hover::before {
    width: 0px;
  }
  
  .nav-button:hover::after {
    height: 0px;

  }
  
  /*.nav-button:hover {
  }*/