
#switch-buttons{
    display: flex;
    gap: 24px;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 16px;
    padding-bottom: 24px;
    position: sticky;
    background: linear-gradient(to bottom, #f4f5f0 0%, #f4f5f0 75%, rgba(244,245,240,0.85) 70%, rgba(244,245,240,0.82) 71%, rgba(244,245,240,0) 100%);
    justify-content: center;
    width: 100%;
    top: 143px;
}
.switch-button{
    background-color: #f4f4ef;
    font-size: 24px;
    border: none;
    box-sizing: border-box;
    border-bottom: solid;
    border-bottom-width: 1px;
    cursor: pointer;
}

#menu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title{
    font-size: 36px;
    align-self: baseline;
}
#menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 800px;
    transition: opacity .4s;
}
.item{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-title{
    text-align: center;
    font-size: 24px;
}
.item-description{
    text-align: center;
}
.wine{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.wine-title{
    font-size: 24px;
}
.prices{
    display: flex;
    gap: 16px;
}
.beer{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.name-country{
    display: flex;
    gap: 8px;
    align-items:flex-end;
}
.beer-country{
    font-size: 12px;
    font-style: italic;
}