@font-face {
    font-family: 'Bulijrya';  
    src: './fonts/buljirya-font/BuljiryaPersonalUse-Yz06j.ttf'
  }
@font-face {
    font-family: 'Weezer';
    src: './fonts/WeezerFont/weezerfont.ttf';
}
@font-face {
    font-family: 'Vogue';
    src: url('./fonts/vogue/Vogue.ttf');
}
body{
    background-color: #f4f5f0;
    margin: 0;
}
#content-holder{
    transition: opacity 400ms;
}
