@font-face {
    font-family: 'Bulijrya';  
    src: './fonts/buljirya-font/BuljiryaPersonalUse-Yz06j.ttf'
  }
@font-face {
    font-family: 'Weezer';
    src: './fonts/WeezerFont/weezerfont.ttf';
}
@font-face {
    font-family: 'Vogue';
    src: url('./fonts/vogue/Vogue.ttf');
}
@font-face{
    font-family: 'Bughia';
    src: url('./fonts/bughia/Bughia\ Demo.ttf');
}
body{
    background-color: #0D6465;
    margin: 0;
}
#content-holder{
    transition: opacity 400ms;
    display: flex;
    justify-content: center;
}
